#top.container-fluid {
  border-bottom: 2px black solid; }

#list.container-fluid .row .card {
  width: 18rem;
  border: 2px black solid; }

#add.container-fluid .row #size, #add.container-fluid .row #dimensions, #add.container-fluid .row #weight {
  display: none; }

/*# sourceMappingURL=style.css.map */
