#top.container-fluid{
  border-bottom: 2px black solid;
}

#list.container-fluid{
  
  .row{

    .card{
      width: 18rem;
      border: 2px black solid;
    }
  }
}

#add.container-fluid{
  
  .row{

    #size, #dimensions, #weight{
      display: none;
    }
  }
}